# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Received\Handover\Server side\Source code\Backend\TrilliumSS_BE_Sprint7_181228\secureskye\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
